*{
  margin: 0;
  padding: 0;

  font-family: Helvetica;
}

html, body {
    height: 100%;
    background: #c7c5c5;
}

:root {
    --keyboard: hsl(222, 67%, 33%);
    --keyboard-shadow: rgb(23, 49, 110);
    --keyboard-border: rgb(17, 36, 81);
    --black-10: hsla(0, 0%, 0%, 0.1);
    --black-20: hsla(0, 0%, 0%, 0.2);
    --black-30: hsla(0, 0%, 0%, 0.3);
    --black-50: hsla(0, 0%, 0%, 0.5);
    --black-60: hsla(0, 0%, 0%, 0.6);
    --white-20: hsla(0, 0%, 100%, 0.2);
    --white-50: hsla(0, 0%, 100%, 0.5);
    --white-80: hsla(0, 0%, 100%, 0.8);
  }

.keyboardContainer {
    position: fixed;
    top: 345px;
    left: 342px;
    height: 350px; width: 900px;
}

.white,
.black {
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0.5rem 0;
  user-select: none;
  cursor: pointer;
}

.white {
    height: 21.88rem;
    width: 4rem;
    z-index: 1;
    border-left: 1px solid hsl(0, 0%, 73%);
    border-bottom: 1px solid hsl(0, 0%, 73%);
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 0 0 var(--white-80) inset, 0 0 5px hsl(0, 0%, 80%) inset,
      0 0 3px var(--black-20);
    background: linear-gradient(to bottom, hsl(0, 0%, 93%) 0%, white 100%);
    color: var(--black-30);
}


.black {
    height: 13.3rem;
    width: 2rem;
    margin: 0 0 0 -1rem;
    z-index: 2;
    border: 1px solid black;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px var(--white-20) inset,
      0 -5px 2px 3px var(--black-60) inset, 0 2px 4px var(--black-50);
    background: linear-gradient(45deg, hsl(0, 0%, 13%) 0%, hsl(0, 0%, 33%) 100%);
    color: var(--white-50);
}

.offset {
    margin: 0 0 0 -1rem;
  }

  .osc1 {
    position: fixed;
    top: 31px;
    left: 374px;
    height: auto; width: 420;
    font-size: 0.7cm;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(205,100,205);
    background-color: rgba(255,200,255,0.4);
  }
  .osc2 {
    position: fixed;
    top: 31px;
    left: 825px;
    height: auto; width: 420;
    font-size: 0.7cm;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(205,100,100);
    background-color: rgba(255,200,200,0.4);

  }
  .waveformContainer{
    position: fixed;
    top: 214px;
    left: 825px;
  }  
  .waveform{
    float: left;
    border-style: solid;
    font-size: 0.5cm;
    width: 105px;
    height: 100px;
    text-align: center;
  
  }
    
  .osc1 button{
    border-color: rgb(205,100,205);
  }
    
  .osc2 button{
    border-color: rgb(205,100,100);
  }
  
  #gainContainer{
    width: 420px;
    height: 73px;
    font-size: medium;
  }
  #gainContainer input{
    width: 420px;
  }
  #lfoContainer{
    width: 420px;
    height: 73px;
    font-size: medium;
  }
 
  #lfoContainer input{
    width: 420px;
    
  }
  .pitch{
    position: fixed;
    top: 535px;
    left: -134px;
    transform:rotate(-90deg);
    font-weight: bold;
    font-size: 0.45cm;
  }
  #name{
    display: inline-flex;
    transform:rotate(90deg);
  }
  #pitchOutput{
    display: inline-flex;
    transform:rotate(90deg);
  }
  .pitch input{
    width: 330px;
  }
  .bend{
    position: fixed;
    top: 535px;
    left: -36px;
    transform:rotate(-90deg);
    font-weight: bold;
    font-size: 0.45cm;
   
  }
    #bendOutput{
    display: inline-flex;
    transform:rotate(90deg);
  }
  .bend input{
    width: 330px;
  }
  .mainGain{
    position: fixed;
    top: 535px;
    left: 60px;
    transform:rotate(-90deg);
    font-weight: bold;
    font-size: 0.45cm;
  }
    #mainGainOutput{
    display: inline-flex;
    transform:rotate(90deg);
  }
  .mainGain input{
    width: 330px;
  }
  .ButtonContainer{
    position: fixed;
    top: 31px;
    left: 31px;
  }  
  .modiButton{
    float: left;
    border-style: solid;
    border-color: rgb(255,255,0);
    background-color: rgba(255,255,200,0.4);
    font-size: 0.5cm;
    font-weight: bold;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: 7px;
  
  }
  .recordPlay{
    float: left;
    border-style: solid;
    border-color: rgb(255,255,0);
    background-color: rgba(255,255,200,0.4);
    font-size: 0.5cm;
    font-weight: bold;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: 7px;
    margin-left: 7px;
  }
  #distortionReverbContainer{
    position: fixed;
    top: 245px;
    left: 31px;
  }
  .distortionReverb{
    float: left;
    border-style: solid;
    border-color: rgb(255,255,0);
    background-color: rgba(255,255,200,0.4);
    font-size: 0.5cm;
    font-weight: bold;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: 7px;
  }